.cart-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1100px;
}
.btn-ord{
    background-color: rgb(197, 197, 255);
    position: fixed;
    left: 82%;
    top: 21%;
}
.navDiv{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.navDiv div{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.product-box{
    border-radius: 40px;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: linear-gradient(to bottom right, #9191ff, #ffe1e7);
    width: 250px;
}
.catalog div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-name{
    background-color: #0241d83d;
    padding: 12px;
    border-radius: 7px;
    color: white;
}
.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    margin: 0 15px 15px 0;
    outline: none;
    border: 1px solid #fff;
    border-radius: 25px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #444;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.2s;
}
.btn:focus-visible {
    border: 1px solid #4c51f9;
    outline: none;
}
.btn:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
    background-color: #808080;
}
.btn:disabled {
    background-color: #eee;
    border-color: #eee;
    color: #444;
    cursor: not-allowed;
}
.prod-footer{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 20px;
}
